{% if plugins.fundraiser[ref].active %}
  <div id="root"></div>

  <script type="text/javascript">
    $(document).ready(function(){
      var chmp = window.champaign;
      af_opts = {
        member:            chmp.personalization.member,
        outstandingFields: chmp.personalization.outstandingFields,
        location:          chmp.personalization.location,
        akid:              chmp.personalization.urlParams.akid,
        source:            chmp.personalization.urlParams.source,
        referrer_id:       chmp.personalization.urlParams.referrer_id,
        bucket:            chmp.personalization.urlParams.bucket,
        prefill:           true
      };
      fundraiser_opts = {
        pageId:           "{{ id }}",
        followUpUrl:      "{{ follow_up_url }}",
        member:           chmp.personalization.member,
        showDirectDebit:  chmp.personalization.showDirectDebit,
        currency:         chmp.personalization.urlParams.currency || chmp.personalization.location.currency,
        donationBands:    chmp.personalization.donationBands,
        amount:           chmp.personalization.urlParams.amount,
        recurringDefault: chmp.personalization.urlParams.recurring_default || "{{ plugins.fundraiser[ref].recurring_default }}",
        paymentMethods:   chmp.personalization.paymentMethods
      };
    });
  </script>

{% endif %}
